$brand-primary:   #c54c22; // alt: c74d24 or c95321
$brand-secondary: #022749; // alt: 0c3553
$brand-tertiary:  #0a8485; // alt: 00c9db
// $brand-info:                $teal !default;
// $brand-warning:             $orange !default;
// $brand-danger:              $red !default;
// $brand-inverse: $gray-dark !default;