$mar-md: 16px;

$mar-xxs:  $mar-md / 8;   // 2px
$mar-xs:   $mar-md / 4;   // 4px
$mar-sm:   $mar-md / 2;   // 8px
$mar-lg:   $mar-md * 1.5; // 24px
$mar-xl:   $mar-md * 2;   // 32px
$mar-xxl:  $mar-md * 3; // 48px
$mar-xxxl: $mar-md * 4; // 64px