@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Open+Sans+Condensed:300,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css');

$h1: 3.998rem;
$h2: 2.827rem;
$h3: 1.999rem;
$h4: 1.414rem;
$small: 0.707rem;

html {
   font-size: 1.1em;
}
body {
  background-color: white;
  font-family: 'Roboto', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}
p {
  margin-bottom: 1.3em;
  line-height: 2em;
}
h1, h2, h3, h4 {
  font-family: 'Open+Sans+Condensed', sans-serif;
  margin: 1.414em 0 0.5em;
  font-weight: 700;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
  font-weight: 300;
  color: $black;
  letter-spacing: -2px;
}
h4 {
  font-size: $h4;
}
small {
  font-size: $small;
}
.text-align-center {
  text-align: center;
}