//
// Note:
// Set Z-Index of Elements in this Stylesheet ONLY!!
//

.navbar {
  z-index: 10;
}
.parallax-image {
  z-index: 0;
}
.parallax-content {
  z-index: 10;
}
// .side-nav {
//   z-index: 20;
// }